header {
    background-color: $primary-color;
    color: white;
    padding: 1rem 0;
  
    .container {
      @include container;
      @include flex-center;
      justify-content: space-between;
    }
  
    nav {
      ul {
        @include flex-center;
        list-style-type: none;
        margin: 0;
        padding: 0;
  
        li {
          margin-left: 1rem;
  
          a {
            color: white;
            text-decoration: none;
  
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }